<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
        <form action="/process" style="padding-top: 100px" method="post">
            <h1>Calculate your change:</h1>
            <div class="form-group">
                <label for="calcCoins">How much change do you have?</label>
                <input id="calcCoins" name="calcCoins" class="form-control" type="text" placeholder="Change (in pennies)">
            </div>
            <button type="submit" class="btn btn-primary btn-xs">Process</button>
        </form>
    </div>
</body>
</html>
