<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title></title>
</head>
<body>
    <div class="container">
            <h1>Change!</h1>
            <ul>
                <li><h3>Quarters: {{ result[0] }}</h3></li>
                <li><h3>Dimes: {{ result[1] }}</h3></li>
                <li><h3>Nickels: {{ result[2] }}</h3></li>
                <li><h3>Pennies: {{ result[3] }}</h3></li>
            </ul>
    </div>
</body>
</html>
